* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list {
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    border: 3px blueviolet solid;
    background: aqua;
}

.list li {
    margin-top: 10px;
    list-style-type: none;
}


